﻿@using (Html.BeginForm("AddNewGroup", "Group", FormMethod.Post))
{
    <p>Add new group to course @ViewBag.CourseName: </p>
    <br />

    <input type="hidden" value="@ViewBag.CourseId" name="courseid" />
    <input type="text" value="@ViewBag.GroupName" name="newgroupname" />
    <br />
    <button name="action" value="save">Save</button>
    <button name="action" value="cancel">Cancel</button>
}