﻿@using (Html.BeginForm("ChangeGroupName", "Group", FormMethod.Post))
{
    <p>Enter new name of @ViewBag.GroupName: </p>
    <br />

    <input type="hidden" value="@ViewBag.GroupId" name="groupid" />
    <input type="text" value="@ViewBag.GroupName" name="newgroupname" />
    <br />
    <button name="action" value="save">Save</button>
    <button name="action" value="delete">Delete</button>
    <button name="action" value="cancel">Cancel</button>
}


