﻿@model IEnumerable<Models.Group>
<!DOCTYPE html>

<html>
<head>
    <title>State University</title>
</head>
<body>
    <h3>Groups of course @ViewBag.CourseName</h3>
    <table>
        <tr>
            <td style="color:blue">@ViewBag.Message</td>
            <td></td>
        </tr>
        @foreach (var group in Model)
        {
    <tr>
        <td>@group.Name</td>
        <td><a href="~/Student/ShowStudents/@group.Id">Select</a></td>
        <td> | </td>
        <td><a href="~/Group/EditGroup/@group.Id">Edit Name</a></td>
        <td> | </td>
        <td><a href="~/Student/AddStudent/@group.Id">Add student</a></td>
        <td> | </td>
        <td><a href="~/Group/DeleteGroup/@group.Id">Delete group</a></td>

    </tr>

        }
    </table>
    <br />
    
</body>
</html>