﻿    @using (Html.BeginForm("AddNewStudent", "Student", FormMethod.Post))
    {
        <p>Enter name of new student</p>
        <br />
        <input type="hidden" value="@ViewBag.groupId" name="groupid" />
        <p>First name: </p>
        <input type="text"  name="newfirstname" />
        <br />

        <p>Last name: </p>
        <input type="text"  name="newlastname" />
        <br />
        <br />
        <button name="action" value="save">Add</button>
        <button name="action" value="cancel">Cancel</button>
    }

