﻿@using (Html.BeginForm("ChangeStudentName", "Student", FormMethod.Post))
{
    <p>Enter new name of @ViewBag.FirstName @ViewBag.LastName: </p>
    <br />
    <input type="hidden" value="@ViewBag.StudentId" name="studentid" />
    <p>First name: </p>
    <input type="text" value="@ViewBag.FirstName" name="newfirstname" />
    <br />
    
    <p>Last name: </p>
    <input type="text" value="@ViewBag.LastName" name="newlastname" />
    <br />
    <br />
    <button name="action" value="save">Save</button>
    <button name="action" value="delete">Delete student</button>
    <button name="action" value="cancel">Cancel</button>
}