﻿@model IEnumerable<Models.Student>

<!DOCTYPE html>

<html>
<head>
    <title>State University</title>
</head>
<body>
    <h3>Students of group @ViewBag.GroupName</h3>
    <table>
        <tr>
            <td></td>
        </tr>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.FirstName @student.LastName </td>
                <td><a href="~/Student/EditStudent/@student.Id">Edit</a></td>

            </tr>
        }
    </table>
    <br />
    <td><a href="~/Student/AddStudent/@ViewBag.groupId">Add student</a></td>
    <td> | </td>
    <td><a href="~/Group/ShowGroups/@ViewBag.courseId">Back to groups</a></td>

</body>
</html>