﻿@model IEnumerable<Models.Course>

<!DOCTYPE html>

<html>
<head>
    <title>State University</title>
</head>
<body>
    <h3>Courses</h3>
    <table>
        <tr>
            <td>Course</td>
            <td></td>
        </tr>
        @foreach (var courses in Model)
        {
    <tr>
        <td>@courses.Name</td>
        <td><a href="~/Group/ShowGroups/@courses.CoursesId">Select</a></td>
        <td> | </td>
        <td><a href="~/Group/AddGroup/@courses.CoursesId">Add group</a></td>
    </tr>
        }
    </table>
</body>
</html>